.hero {
    // border: 1px solid aqua;
    width: 1110px;
    padding-left: 16px;
    padding-right: 16px;

    tr {
        // border: 1px solid orange;
        display: flex;
        gap: 16px;
        // margin-top: 16px;
        // margin-bottom: 16px;
    }

    td {
        // border: 1px solid black;
        width: 120.75px;
        height: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .hat {
        display: flex;
        align-items: center;
        gap: 8px;

        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_number {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_wikipedya {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_data {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_dolor {
        display: flex;
        justify-content: center;
        flex-direction: column;

        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_cash {
        display: flex;
        justify-content: center;
        flex-direction: column;

        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_btn {
        padding: 8px 12px 8px 12px;
        border: none;
        border-radius: 22px;
        background: #EBF9F1;

        color: #1F9254;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hat_btn:hover {
        background: #83b99a;
        cursor: pointer;
    }

    .hat_btn:active {
        background: #4ad687;
    }

    .delete {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        cursor: pointer;
    }

    .phone_btn {
        padding: 8px 12px 8px 12px;
        border: none;
        border-radius: 22px;
        background: #FEF2E5;

        color: #CD6200;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .phone_btn:hover {
        cursor: pointer;
        background: #daaf87;
    }

    .phone_btn:active {
        background: #955820;
    }

    .head_btn {
        padding: 8px 12px 8px 12px;
        border: none;
        border-radius: 22px;
        background: #FBE7E8;

        color: #A30D11;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .head_btn:hover {
        cursor: pointer;
        background: #e59da1;
    }

    .head_btn:active {
        background: #e2c6c8;
    }
}